<!DOCTYPE html>
<html>
<head> 
  <title> {{title}} </title>
  <style>
    body {
      background-color: lightblue;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    div {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
      width: 80%;
      max-width: 500px;
    }
    h1 {
      text-align: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    p {
      font-size: 16px;
      line-height: 1.6;
    }
    input[type='button'] {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 5px;
      border: none;
      width: 100%;
    }
    input[type='button']:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
   <div> 
      <h1>Title: {{book.volumeInfo.title}}</h1> 
      <p>
        Author:
        {{#each book.volumeInfo.authors}} 
            {{this}} 
        {{/each}}</p> 
      <p>Publisher: {{book.volumeInfo.publisher}}</p> 
      <p>Description:<br>
      {{book.volumeInfo.description}}</p> 
      <input type='button' id="add_book" value='Add to Reading List'>
   </div>
      <script src="/appClient.js"></script>
      <script src='/eventListeners.js'></script> 
</body>
</html>
