<!DOCTYPE html>
<html>
<body>
   <div id = "userReadingList"> 
        <h1>{{title}}</h1>
        {{#each bookList}} 
            <p>Title: {{this.bookTitle}}  <br>Author: {{this.author}} <br> Publisher: {{this.publisher}}  <br>Description: <br>{{this.descrip}}</a></p> 
            <br>
            <br>
        {{/each}} 
</body>
</html>